@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: até 479px
Celular: de 480px até 599px
Tablet: de 600px até 991px
Desktop: de 992px até 1199px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 800px) {
    span#burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 800px;
    }
}