@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
}
header h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}
header p {
    padding-bottom: 50px;
}
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    font-family: var(--fonte3);
    font-size: 3.7vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
section p {
    padding-bottom: 2em;
}
.normal {
    background-color: white;
    color: black;
}
.imagem {
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.403);
    color: white;
    padding-top: 80px;
}
.imagem p {
    background-color: rgba(0, 0, 0, 0.31);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
#img01 {
    background-image: url(../imagens/background001.jpg); 
}
#img02 {
    background-image: url(../imagens/background002.jpg);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}