@charset "UTF-8";

/*Todas as demais mídias*/

/* Typical Device Breakpoints
Pequenas telas: até 479px
Celular: de 480px até 599px
Tablet: de 600px até 991px
Desktop: de 992px até 1199px
Grandes telas: acima de 1200px
*/

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário */
    }
    main {
        border: 2px solid black;
    }
    main::after {
        content: 'Essa impressão foi feita através do site www.github.com';
        text-decoration: overline;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}
/*Como já fizemos o site pensando em mobile first não tem necessidade de colocar media screen para pequenas telas*/
@media screen and (min-width: 600px) and (max-width: 991px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}
@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}