@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root {
    --cor0: #22A4CC;
    --cor1: #3587A0;
    --cor2: #00BCF4;
    --cor3: #3B6875;
    --cor4: #2B3133;
    --cor5: #a6e9fd;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Young Serif';
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
}
header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    height: 150px;
    min-width: 350px;
}
header > h1 {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    text-align: center;
    padding: 30px;
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    text-align: center;
}
nav {
    background-color: var(--cor5);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.227);
    padding: 20px;
    min-width: 350px;
}
nav a {
    background-color: var(--cor0);
    border-radius: 5px;
    color: white;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: var(--cor1);
    transition-duration: .5s;
}
main {
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.227);
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
}
main h1, h2, h3 {
    font-family: var(--fonte-destaque);
    font-weight: lighter;
}
main p {
    font-family: var(--fonte-padrao);
    line-height: 1.3em;
    text-align: justify;
    text-indent: 10px;
}
main h2, h3 {
    margin-top: 10px;
}
main a {
    color: var(--cor3);
    font-family: var(--fonte-padrao);
    text-decoration: none;
}
main img {
    width: 20%;
}
.flexcolumn {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.w70 {
    padding: 5px 50px;
    width: 70%;
}
footer {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 5px;
}