@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}
body{
    background-image: linear-gradient(to right, #fcdc5f, #DB5461);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4c0d0977;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #DB5461;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(93, 24, 24, 0.767);
}
h2{
    color: #e2b501;
}
p {
    text-align: justify;
}